html,body{
    height: 100%;
    width: 100%;
    background-image: url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRMPihIju0BBCwq0HWOFF-aZo8vlz2FCOl7fg&usqp=CAU');
    background-size: cover;
}
.button{
    padding: 12px 4px;
    margin: 1px 2px;
    border: 1px solid rgba(48, 5, 241, 0.993);
    border-radius: 32px;
    cursor: pointer;
    width: 56px;
    font-size: 12px;
    font-weight: bold;
    background-color: black;
    color: white;
    outline: none;
}
.row{
    margin: 1px 0;
}
.row input{
    font-weight: bold;
    width: 360px;
    height: 75px;
    padding-top: 4px;
    background-color: powderblue;
    padding: 2px;
    font-size: 32px;
    font-family: sans-serif;
    font-weight: bold;
    text-align: right;
    overflow: hidden;
    font-weight: bold;
    color: #245;
    text-shadow: 16px 16px 13px #8ac;
}
.button:active{
    background-color: #dbc;
    box-shadow: none;
    padding-top: 4px;
    outline: 1px solid #989;
    border: 3px #b9b inset;
}
.button:hover{
    /* background-color: rgba(0, 255, 34, 0.904); */
    background-color: #a9a;
    transform: scale(1.03);
}
.bgcolor{
    height: 44px;
    background-color:#fffb0a;
    border: 1px green outset;
    color: rgb(255, 4, 4);
    font-weight: 16px;
}
.bgcolor:hover{
    background-color: #bab;
    box-shadow: inset 5px 5px 5px #cab, inset -5px -5px -5px #a98;
}
.bgcolor:active{
    background-color: #dbc;
    box-shadow: none;
    padding-top: 4px;
    font-size: 50x;
    outline: 1px solid #989;
    border: 3px #b9b inset;
}